.DetallePropiedad {
  padding-left: 15%;
  padding-right: 15%;
}
.iconDetalle {
  display: flex;
  align-items: center; 
}

.iconTextContainer {
  display: flex;
  align-items: center; 
  margin-right: 10px;
  
}
.carousel-container {
  text-align: center;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
}

.subCarta {
  display: flex;
  flex-direction:column;
  text-align: right;
  max-width: 800px;
}
.venta{
  display: flex;
  flex-direction: row-reverse;
}
.encabezado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tituloh1{
  text-align: left;
}

.dPropiedad{
  width: auto;
  max-width: 800px;
}



