.DetallePropiedad {
  padding-left: 15%;
  padding-right: 15%;
}

.h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
}
.iconDetalle {
  display: flex;
  align-items: center; 
}

.iconTextContainer {
  display: flex;
  align-items: center; 
  margin-right: 10px; 
}


