.selects {
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  gap: 5px;
}

.filtritos {
  margin: 5px;
  gap: 5px;
  padding: 5px;
  display: flex;
  justify-content: left;
}
