.publicarFormContainer {
    width: 80%;
    margin: 2rem auto 0 2rem;
}
.Select{
    display: flex;
    flex-direction: row;
    
}
.descripcion{
    width: 4rem;
}
.bobyboton{
    display: flex;
    flex-direction: column;
}
.boton{

    width: 200px;
}