body {
  margin: auto;
  padding: auto;
  background-color: white;
}

a {
  color: white;
}

#footer {
  padding: 1rem;
  font-weight: bolder;
  color: white;
  background-color: #1976d2;
}

.footer {
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  color: white;
  background-color: #1976d2;
}

.App {
  text-align: center;
}

.SearchBackground {
  background-image: url("https://source.unsplash.com/random");
  background-repeat: round;
  background-size: 100%;
  image-rendering: optimizeQuality;
  width: auto;
  height: auto;
}

.Search {
  padding: 10%;
  width: max-content;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

#checkmarks {
  background-color: white; 
}

#opciones {
  background-color: white;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  width: max-content;
}

#search {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  background-color: white;
  width: 50ch;
}
