body {
  background-color: black;
  color: white;
}

.SearchBackground {
  background-image: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: scale-down;
}

.Search {
  padding: 10%;
  width: max-content;
  margin: 0;
}

.Navbar {
  padding: 1rem;
  background-color: blue;
}

.Carousel {
  background-color: red;
  padding: 1rem;
}

.Otros {
  background-color: green;
  padding: 1rem;
}

#opciones {
  background-color: white;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  width: max-content;
}

#search {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  background-color: white;
  width: 50ch;
}